*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

header{
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: blueviolet;
  color: white;
}

.container{
  margin: auto;
  padding: 10px;
  max-width: 700px;
}

section{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

label{
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px dashed blueviolet;
  gap: 2px;
  margin-bottom: 3px;
}

label:hover{
  background:lightblue;
}

button{
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: blueviolet;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: large;
}

button:hover{
  background: blue;
  color: #fff;  
}

h2{
  text-align: center;
}

#resultado{
  font-size: 30px;
  color: blue
}